<footer>

	<div class="container">
		<img src="assets/images/footer/logo.svg" alt=" logo" class="logo-image" />

		<div class="horarios">
			<p>Horário de Funcionamento :</p>
			<p>Segunda-feira das 8h às 18h <br>
				Terça-feira das 08h00 às 18h00<br>
				Quarta-feira das 08h00 às 18h00<br>
				Quinta-feira das08h00 às 18h00<br>
				Sexta-feira das 08h00 às 18h00<br>
				Sábado das 08h00 às 18h00<br>
				Domindo das 10h00 às 17h00<br>
			</p>
		</div>
	</div>
	<div class="rodape-title">HP</div>
</footer>