<div class="container">
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<p>Subtotal</p>
		<p class="price">{{ (cartTotal - (frete - desconto))| currency:"BRL"}}</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<p>Descontos</p>
		<p class="price">{{ desconto | currency:"BRL" }}</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<p class="total">Frete</p>
		<p class="price">{{ frete >0 ? (frete| currency:"BRL") : "Grátis" }}</p>
	</div>
	<div fxLayout="row" fxLayoutAlign="space-between center">
		<p class="total">Total</p>
		<p class="price">{{ cartTotal | currency:"BRL" }}</p>
	</div>
</div>